@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
background: #f9fafb;
font-family: 'Open Sans',sans-serif;
align-items: center;
justify-content: center;
min-height: 100vh;
display: flex;

}
.container {
    background-color:#ffff; 
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}
h1{
    text-align: center;
    margin: 0 0 20px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.form{
    padding: 30px 40px;
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;

}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.submit-btn{
    cursor: pointer;
    background-color: #3498ab;
    display: block;
    margin-top:20px;
    padding: 10px;
    font-size: 16px;
    color: #ffff;
    width: 100%;
    border: 2px solid #3498ab;
    border-radius: 4px;
}

.output{
    font: outline;
    color: #777;
    text-align: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}